body {
  text-align: center;
}
h1 {
  color: rgb(236, 74, 10);
}

img {
  max-width: 200px;
  margin: 20px auto;
}

.gitcat1 {
  max-width: 300px;
  margin: 50px auto;
}
.netlify {
  max-width: 500px;
  margin: 50px auto;
}
.gitcat2 {
  max-width: 300px;
  margin: 50px auto;
}
